<!DOCTYPE html>

<html>
<head>
  <script src="../jasmine/src/Thermostat.js"></script>
  <link rel="stylesheet" type="text/css" href="../public/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>

<body>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<h1>Thermostat</h1>

  <div id= "outerborder">
    <div id="outer" class="medium">

      <div id= "innerborder">
        <div id="inner">
          <div id="currentTemp">
          </div>

            <button class="down" id="down"><img src="../public/down.png" />
              <button class="up" id="up"><img src="../public/up.png"/></button></button>
              <!-- Rounded switch -->
              <label class="switch">
                <input type="checkbox">
                <div class="slider round"></div>
              </label>
        </div>
      </div>
    </div>
  </div>

  <div id = "dateTime">
  </div>


  <div id = "powerSavingMode">
  </div>


  <!-- <button type="button" id="up">Up</button>
  <button type="button" id="down">Down</button> -->
  <button type="button" id="reset">Reset</button>

  <button type="button" id="psON">Power Saving On</button>
  <button type="button" id="psOFF">Power Saving Off</button>

  <div id="energyUsage">
  </div>

  <div>
    <select id="city">
      <option value="London" >London</option>
      <option value="NewYork" >New York</option>
      <option value="Reykjavik" >Reykjavik</option>
      <option value="Barcelona" >Barcelona</option>
      <option value="TelAviv" >Tel Aviv</option>
    </select>

  </div>

  <div id="weather">
    Today's temperature: <span id="outside-temp"</span>
  </div>


  <script type="text/javascript" src="../jasmine/src/jquery.js"></script>
  <script type="text/javascript" src="../jasmine/src/interface.js"></script>


</body>


</html>
