<!DOCTYPE html>

<html>
<head>
  <script src="../jasmine/src/Thermostat.js"></script>
</head>

<body>

  <h1>THERMOSTAT</h1>

  <div id = "dateTime">

  </div>

  <div id = "currentTemp">

  </div>

  <button type="button" id="up">Up</button>
  <button type="button" id="down">Down</button>
  <button type="button" id="reset">Reset</button>

  <button type="button" id="psON">Power Saving On</button>
  <button type="button" id="psOff">Power Saving Off</button>

  <div id="EnergyUsage">

  </div>

</body>



</html>
