#currentTemp{
  font-size: 60px;
      position: relative;
      left: 39%;
      top: 10%;
      color: white;
      font-family: 'Lobster', cursive;
}

h1{
  font-family: 'Lobster', cursive;
  font-size: 70px;
  color: #fdda16;

}

#weather{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: #fdda16;
}

.down {
  position: absolute;
     outline: none;
     top: 37%;
     padding-top: -150%;
     background-color: transparent;
     border: transparent 0px;
}

.up {
  position: absolute;
     outline: none;
     left: 70%;
     margin-top: -20%;
     background-color: transparent;
     border: transparent 0px;
}
#reset{
  position: relative;
     outline: none;
     right: -42%;
     margin-top: 10%;
     background-color: transparent;
     border: transparent 0px;
}


body{ background-image: url('../public/bg_pic.jpg');
width:300px;
margin: auto;
}

#outerborder{
  width: 300px; height: 300px;
  background-color: black;
  border-radius: 50%;
  box-shadow:
    inset 0 3px 10px rgba(255,255,255,1),
    inset 0 -3px 10px rgba(0,0,0,0.25),
    0 30px 40px rgba(0,0,0,0.5);
}

.medium{
  width: 95%; height: 95%;
  background-color: #f9d00f;
  position: relative;
  left: 2.5%; top: 2.5%;
  border-radius: 50%;
}

.low{
  width: 95%; height: 95%;
  background-color: #55a44e;
  position: relative;
  left: 2.5%; top: 2.5%;
  border-radius: 50%;
}

.high{
  width: 95%; height: 95%;
  background-color: #f92727;
  position: relative;
  left: 2.5%; top: 2.5%;
  border-radius: 50%;
}

#innerborder{
  width: 90%; height: 90%;
  background-color: black;
  position: relative;
  left: 5.0%; top: 5.0%;
  border-radius: 50%;
}

#inner{
  width: 96%; height: 96%;
  background-color: #f02a71;
  position: relative;
  left: 2.0%; top: 2.0%;
  border-radius: 50%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
  left: 30%;
  margin-top: 20%;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F9D00F;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 45px;
  left: 4px;
  bottom: 0px;


  background-image: url('../public/turbine.png');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #55a44e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #55a44e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(45px);
  -ms-transform: translateX(45px);
  transform: translateX(45px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
